{% load static %}
<header>
  <nav>
    <div class="header-container">
      <ul class="nav nav-pills ms-auto">
        <li class="nav-item">
          <a class="nav-lnk {% if request.resolver_match.view_name == 'reviews:titles' %}active{% endif %}"
             href="{% url 'reviews:titles' %}">Главная</a>
        </li>
        {% if request.user.is_admin or request.user.is_superuser or request.user.is_moderator %}
          <li class="nav-item">
            <a class="nav-lnk {% if request.resolver_match.view_name == 'admin_office:cabinet' %}active{% endif %}"
               href="{% url 'admin_office:cabinet' %}">Кабинет</a>
          </li>
        {% endif %}
        {% for item in common_items %}
          <li class="nav-item">
            <a class="nav-lnk {% if request.resolver_match.view_name == item.path %}active{% endif %}"
               href="{% url item.path %}">{{ item.text }}</a>
          </li>
        {% endfor %}
        {% if user.is_authenticated %}
          {% for item in authenticated_items %}
            <li class="nav-item">
              <a class="nav-lnk {% if request.resolver_match.view_name == item.path %}active{% endif %}"
                 href="{% url item.path %}">{{ item.text }}</a>
            </li>
          {% endfor %}
          <li class="nav-item">
            <a class="nav-lnk" href="{% url 'users:logout' %}">Выйти</a>
          </li>
        {% else %}
          {% for item in guest_items %}
            <li class="nav-item">
              <a class="nav-lnk {% if request.resolver_match.view_name == item.path %}active{% endif %}"
                 href="{% url item.path %}">{{ item.text }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
