{% extends "base.html" %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}

  <main>
    <div class="container py-5">
      {% include "includes/header.html" %}
      <div class="wrapper-container">
        <h1>{{ title }}</h1>
        <h5><a href="{{ create_url }}">{{ action }}</a></h5>

          {% for instance in object_list %}
            <p><a href="{{ instance.get_absolute_url }}">{{ instance }}</a></p>
          {% endfor %}
          <br>
          {% if back_url %}
          <p>
            <a class="back btn btn-primary" href="{{ back_url }}">Назад</a>
          </p>
          {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
