{% extends "base.html" %}
{% load custom_filters %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}

  <main>
    <div class="container py-5">
      {% include "includes/header.html" %}

      <div class="wrapper-container">


      {% if request.resolver_match.view_name == 'reviews:titles' %}
      <div class="container-left">
        {% include "includes/filters.html" %}
      </div>
      {% endif %}

      <div class="container-left margin-bottom">
        {% if back_url %}
        {% include 'reviews/includes/back_button.html' %}
        {% endif %}
        {% if create_url %}
        <h5><a class="button btn" href="{{ create_url }}">{{ action }}</a></h5>
        {% endif %}
      </div>

        <h1>{{ title }}</h1>
        {% for instance in object_list %}

        <div class="title-card" onclick="location.href='{{ instance.get_absolute_url }}'">
          <h3 class="title-name">{{ instance|linebreaks }}</h3>
          <ul class="title-properties">
              {% for field in display_fields %}
                  <li><strong>{{ instance|field_verbose_name:field }}:</strong> {{ instance|custom_getattr:field }}</li>
              {% endfor %}
          </ul>
        </div>
        {% endfor %}

        <br><br><br>


          <!-- {% for instance in object_list %}
          <p><strong>{{ instance|field_verbose_name:"year" }}:</strong> {{ instance|custom_getattr:"year" }}</p>
            <p><a href="{{ instance.get_absolute_url }}">{{ instance }}</a></p>
          {% endfor %} -->
          <br>
      </div>
    </div>
  </main>
  <script src="{% static 'js/filters.js' %}"></script>
  <script src="{% static 'js/custom-single-select.js' %}"></script>
{% endblock %}
