{% extends "base.html" %}
{% load custom_filters %}
{% load auth_tags %}
{% load static %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}

  <main>
    <div class="container py-5">
      {% include "includes/header.html" %}

      <div class="wrapper-container">


      {% if request.resolver_match.view_name == 'reviews:titles' %}
      <div class="container-left">
        {% include "includes/filters.html" %}
      </div>
      {% endif %}

      <div class="container-left margin-bottom">
        {% if back_url %}
        {% include 'reviews/includes/back_button.html' %}
        {% endif %}
        {% if create_url %}
        <h5><a class="button btn" href="{{ create_url }}">{{ action }}</a></h5>
        {% endif %}
      </div>

        <h1>{{ title }}</h1>
        {% for object in object_list %}

        <div class="title-card" onclick="location.href='{% user_object_url object %}'">
          <h3 class="title-name">{{ object|linebreaks }}</h3>
          {% if avatar %}
            {% include "reviews/includes/avatar.html" %}
          {% endif %}
          <ul class="title-properties">
              {% for field in display_fields %}
                {% if object|custom_getattr:field %}
                  <li><strong>{{ object|field_verbose_name:field }}:</strong> {{ object|custom_getattr:field }}</li>
                {% endif %}
              {% endfor %}
                {% if includes %}
                {% for path in includes %}
                  {% include path %}
                {% endfor %}
              {% endif %}
          </ul>
        </div>
        {% endfor %}
        <br><br><br>
        {% include "reviews/includes/paginator.html" %}
          <br>
      </div>
    </div>
  </main>
  <script src="{% static 'js/custom-single-select.js' %}"></script>
  <script src="{% static 'js/custom-select-update.js' %}"></script>
{% endblock %}
