{% extends 'base.html' %}
{% block title %}
  Кабинет администратора
{% endblock title %}
{% block content %}
<div class="container py-5">
  {% include "includes/header.html" %}
</div>
  <div class="container mt-4 d-flex justify-content-center">
    <div class="w-100" style="max-width: 50%;">
      <h1>Кабинет администратора</h1>
      <div class="list-group mt-4">
        <a href="{% url 'reviews:genres' %}"
           class="list-group-item list-group-item-action">Жанры</a>
        <a href="{% url 'reviews:categories' %}"
           class="list-group-item list-group-item-action">Категории</a>
        <a href="{% url 'reviews:titles' %}"
           class="list-group-item list-group-item-action">Произведения</a>
        <a href="{% url 'admin_office:cabinet_reviews' %}"
           class="list-group-item list-group-item-action">Все отзывы</a>
        <a href="{% url 'admin_office:cabinet_comments' %}"
           class="list-group-item list-group-item-action">Все комментарии</a>
          <a href="{% url 'admin_office:users' %}"
             class="list-group-item list-group-item-action">Список пользователей</a>
      </div>
    </div>
  </div>
{% endblock content %}
